.card {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.card-image {
  width: 19.9375rem;
  height: 14.95313rem;
}
.card-main {
  display: flex;
  width: 18.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.card-footer {
  display: flex;
  padding: 0.5rem 0rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 0.3125rem;
  background: #6d72c3;
  color: #fbf1ff;
  text-align: center;
}
